.content-state-box {
    width: 100%;
    background: #f8f9fa;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: grid;
    place-items: center;
    height: 700px;
}

.error-box {
    text-align: center;
}

.error-box h2 {
    font-size: 4rem;
    font-weight: 800;
    color: #9a9a9a;
    text-align: center;
    line-height: 1.5;
    max-width: 500px;
}
