.search-tour {
    padding: 20px;
}

.search-tour.empty .tours-list-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
}

.search-tour h1 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

/* Responsive */
@media (max-width: 768px) {
    .search-tour {
        padding: 16px;
    }

    .search-tour h1 {
        font-size: 2rem;
    }
}
